[Unit]
Description=Neurodesktop Docker container to provide a bunch of neuro apps in the browser
Requires=alafia-home.service
After=alafia-home.service
StartLimitInterval=350
StartLimitBurst=10

[Service]
Restart=on-failure
RestartSec=30
ExecStart=/usr/bin/docker compose -f /opt/alafia-ai/alafia-neurodesktop/docker-compose.alafia-neurodesktop.yml up 

[Install]
WantedBy=multi-user.target
