[Desktop Entry]
Type=Application
Name=Alafia Neurodesktop
Terminal=false
Icon=/opt/alafia-ai/alafia-neurodesktop/alafia-neurodesktop.svg
Exec=/opt/alafia-ai/alafia-neurodesktop/alafia-neurodesktop.sh
