[submodule "alafia-conn-toolbox"]
	path = alafia-conn-toolbox
	url = https://github.com/Alafia-Ai/alafia-conn-toolbox.git
[submodule "alafia-freesurfer"]
	path = alafia-freesurfer
	url = https://github.com/Alafia-Ai/alafia-freesurfer.git
[submodule "alafia-fsl"]
	path = alafia-fsl
	url = https://github.com/Alafia-Ai/alafia-fsl.git
[submodule "alafia-caddy"]
	path = alafia-caddy
	url = https://github.com/Alafia-Ai/alafia-caddy.git
[submodule "alafia-binfmt"]
	path = alafia-binfmt
	url = https://github.com/Alafia-Ai/alafia-binfmt.git
