[Unit]
Description=Binfmt Docker container which provides qemu-user emulator binaries
Requires=docker.service
After=docker.service
StartLimitInterval=350
StartLimitBurst=10

[Service]
Restart=on-failure
RestartSec=30
ExecStart=/usr/bin/docker run --privileged --rm tonistiigi/binfmt --install all 
#ExecStop=/usr/bin/docker run --privileged --rm tonistiigi/binfmt --uninstall qemu-*

[Install]
WantedBy=multi-user.target
